* text=auto eol=lf
*.cpp text working-tree-encoding=UTF-8
*.h text working-tree-encoding=UTF-8
*.hpp text working-tree-encoding=UTF-8
*.cmake text working-tree-encoding=UTF-8
CMakeLists.txt text working-tree-encoding=UTF-8
